*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app-container-spinner {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.app-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #333638;

  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
